@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

@import 'lib/variables';
@import 'lib/colors';
@import 'lib/layout';
@import 'lib/button';
@import 'lib/lists';
@import 'lib/slider';

body {
  font-weight: 500;
  color: $c-dark-grey;
  font-family: 'Montserrat', sans-serif;
}